body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    background-color: #383737;
    color: white;
  } 

a {
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    margin-left:5px;
    margin-right: 50px;
    float: right;
    font-size: 18px;
    color: white;
}

.name {
    float: left;
    padding: 20px;
    color:#383737;
}

nav ul li {
    display: inline-block;
    margin-left: 60px;
    text-decoration: none;
    color: #e8e8e9;
    font-weight: bolder;
    padding: 20px;
}

nav ul li a:hover {
    color: gray;
}

.resumeBtn {
    text-decoration: underline;
}

#home {
    color: #000000;
    height: 950px;
    width: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/072/376/original/network-connections-on-white-background-vector.jpg);
}
#home-content {
    width: 100%;
    height: 730px;
    padding-top: 30px;
    align-items: center;
    float: center;
    color: #000000;
}
#picture {
    font-size: 2rem;
    height: 730px;
    float: center;
    text-align: center;
    color: #000000;
}

.photo {
    width:500px;
    float: center;
    text-align: center;
}

.icon {
    width: 50px;
    float: center;
}

#about {
    height: 700px;
    width: 100%;
    background-color: #383737; 
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 106px;
}

#aboutTitle {
    display: inline;
    text-align: left;
    color: #e8e8e9;
}

#aboutSummary {
    float: right;
    font-size: 2rem;
    text-align: justify;
    color: #e8e8e9;
    line-height: 45px;
}

.projects {
    height: 1400px;
    width: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/072/376/original/network-connections-on-white-background-vector.jpg);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 106px;
} */

#projectTitle {
    text-align: left;
    color: #232325;
} 

#projectDiv {
    display: inline;
    color: #232325;
    text-align: center;
}

.projectOne {
    float: left;
    display: inline;
}

.projectTwo {
    float: right;
}

.links {
    color: #232325;
    display: block;
    float: center;
}

.contact    {
    padding-top: 30px;
    height: 200px;
    width: 100%;
    background-color: #444452;
    color: #e8e8e9;
    float: center;
    text-align: center;
}

  footer{
    background:#383737;
    padding: 0 60px;
    padding-top: 20px;
    text-align: center;
    color: #F7F6F2;
    height: 60px;
} 

.credit {
    float:left
}

.footer {
    float: right
}

/* @media screen and (max-width: 992px) {
    .work .boxes .box   {
        width: 50%;
        }
    header, nav ul li a {
        flex-direction: column;
        height: 120px;
    }

    .contact-info {
        flex-direction: column;
    }

} */
 @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }

    #home-content {
        padding-top: 200px;
    }
    
    .photo {
        width:300px;
        float: center;
        text-align: center;
    }
    #about {
        height: 1150px;
        text-align: center;
    }
    #aboutTitle {
        width: 100%;
        text-align: center;
    }

    #aboutSummary {
        width: 100%;
        text-align: center;
    }
  }